*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #cfd2d6;
}

body{
  height: 100vh;
  background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(coffee.jpg);
  background-position: center;
  background-size: cover;
}
.container{
  max-width: 1300px;
  padding: 20px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo{
  font-size: 35px;
  color: #fff;
}
.navbar-menu a{
  color: #fff;
  font-size: 13px;
  font-family: 'Raleway',sans-serif;
  font-weight: 100;
  padding: 12px 15px;
  border-radius: 2px;
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  transition: 0.4s;
}

.navbar-menu a:hover{
  background-color: #fff;
  color: #000;
}
.description{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: #fff;
  padding: 0 70px;
  width: 100%;
  text-align: center;
}
.description h2{
  font-size: 30px;
  font-family: 'Great Vibes',sans-serif;
  font-weight: 100;
  color: #fff;
  letter-spacing: 2px;
  line-height: 50px;
}
.description h1{
  font-size: 35px;
  font-family: 'Raleway',sans-serif;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 5px;
  line-height: 70px;
}
.description p{
  font-size: 14px;
  font-family: 'Raleway',sans-serif;
  font-weight: 100;
  color: #fff;
  letter-spacing: 2px;
  line-height: 25px;
  margin-bottom: 30px;
}
.description button{
  font-size: 14px;
  font-family: 'Raleway',sans-serif;
  font-weight: 700;
  color: #fff;
  background: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 12px 20px;
  border: 1px solid #fff;
  border-radius: 3px;
  outline: none;
  cursor: pointer;
  transition: 0.4s;
}
.description button:hover{
  background: #fff;
  color: #000;
}
footer{
	position: absolute;
	bottom: 0;
	background: black;
	height: auto;
	width: 100vw;
	padding: 2px 0 0 0;
}
/*content*/
.footer{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
}
.footer p{
    margin: 2px auto;
    line-height: 28px;
    font-size: 14px;
}
/*social -media*/
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.socials li{
    margin: 0 10px;
}
.socials a{
    text-decoration: none;
    color: #fff;
    border: 1.1px solid white;
    padding: 5px;
    border-radius: 50%;
}
.socials a i{
    font-size: 1.1rem;
    width: 20px;
    transition: color .4s ease;
}
.socials a:hover i{
    color: dodgerblue;
}
.footer-copyright p{
  font-size: 14px;
  word-spacing: 2px;
  align-items: center;
  justify-content: center;
}